In [1]:
import pandas as pd
import openpyxl

In [3]:
xl = pd.read_excel("new_ledger.xlsx", sheet_name=['B40101','Ledger Template','BillRecord','ConsumerConnectionAccount'])

In [4]:
bamt = xl['B40101'].BAMT
bdamt = xl['B40101'].BDAMT

In [5]:
xl['Ledger Template']

Empty DataFrame
Columns: [AccountNumber, BillIssueDate, PayableWithinDueDate, PayableAfterDueDate, BillDueDate, Month, TotalDuesBefore, TotalDuesAfter, Arrears, Narrers, ConsumerConnectionAccountId, BillRecordId, CurrentBill, PaidAmount, BANK, SCROL, SHEET, VOUCHER, BRANCH]
Index: []

In [6]:
barea = xl['B40101'].BAREA
bacct = xl['B40101'].BACCT

In [7]:
# Creating Full bank numbers
bank = []
for i in range(len(barea)):
    
    get_values = len(barea[i]) + len(bacct[i])
    total = 13
    
    bacct_str = str(bacct[i])
    barea_str = str((barea[i]))
#     print(f"value is: {bacct[i]} to str is: {}")
    left = total - get_values

    new_string = []
    for i in range((left)-1):
        new_string.append(str(0))

    zeros = "".join(new_string)
#     print(f"zeros are: {zeros}")
    full_number = zeros + barea_str + '-' + bacct_str
    bank.append(full_number)
len(bank)

3022

In [8]:
billRecordId = xl['BillRecord'].BillRecordId
month= xl['BillRecord'].Month
bcycle = xl['B40101'].BCYCLE
bill_id = ''

In [9]:
df = xl['Ledger Template']
df

Empty DataFrame
Columns: [AccountNumber, BillIssueDate, PayableWithinDueDate, PayableAfterDueDate, BillDueDate, Month, TotalDuesBefore, TotalDuesAfter, Arrears, Narrers, ConsumerConnectionAccountId, BillRecordId, CurrentBill, PaidAmount, BANK, SCROL, SHEET, VOUCHER, BRANCH]
Index: []

In [10]:
account_number = xl['ConsumerConnectionAccount'].AccountNumber

In [11]:
b40101 = xl['B40101']

In [12]:
for i in range(len(bank)):
    consumer_id = ''
    account_number = xl['ConsumerConnectionAccount'].AccountNumber
    for d in range(len(account_number)):
        if account_number[d] == bank[i]:
            consumer_id = xl['ConsumerConnectionAccount'].ConsumerConnectionAccountId[d]
    
    
    
    Bill_table = xl['BillRecord'].Month
    id_of_bcycle = bcycle[i]
    for d in range(len(Bill_table)):
        if Bill_table[d] == id_of_bcycle:
            bill_id = id_of_bcycle
#    row = {"AccountNumber":"AccountNumber","BillIssueDate":"BillIssueDate", "PayableWithinDueDate":"PayableWithinDueDate", "PayableAfterDueDate":"PayableAfterDueDate", "BillDueDate":"BillDueDate", "Month": "Month", "TotalDuesBefore": "TotalDuesBefore", "TotalDuesAfter": "TotalDuesAfter", "Arrears": "Arrears", "Narrers": "Narrers","ConsumerConnectionAccountId": "ConsumerConnectionAccountId"  , "BillRecordId": "BillRecordId", "CurrentBill": "CurrentBill", "PaidAmount": "PaidAmount", "BANK": "BANK","SCROL": "SCROL", "SHEET": "SHEET", "VOUCHER": "VOUCHER", "BRANCH":"BRANCH" }
        
    row = {"AccountNumber":bank[i],"BillIssueDate":b40101.BDATE[i], "PayableWithinDueDate":b40101.BAMT[i], "PayableAfterDueDate":bamt[i]+bdamt[i], "BillDueDate":b40101.BDDATE[i], "Month": b40101.BCYCLE[i], "TotalDuesBefore": b40101.BTOTBE[i], "TotalDuesAfter": b40101.BTOTAF[i], "Arrears": b40101.BARRER[i], "Narrers": b40101.NARRER[i],"ConsumerConnectionAccountId": consumer_id  , "BillRecordId": bill_id, "CurrentBill": b40101.BAMT[i], "PaidAmount": b40101.BPAY[i], "BANK": b40101.BANK[i],"SCROL": b40101.SCROL[i], "SHEET": b40101.SHEET[i], "VOUCHER": b40101.VOUCHER[i], "BRANCH":b40101.BRANCH[i] }

    df = df.append(row, ignore_index=True)

df.head()

,AccountNumber,BillIssueDate,PayableWithinDueDate,PayableAfterDueDate,BillDueDate,Month,TotalDuesBefore,TotalDuesAfter,Arrears,Narrers,ConsumerConnectionAccountId,BillRecordId,CurrentBill,PaidAmount,BANK,SCROL,SHEET,VOUCHER,BRANCH
0,000401-01-001,2022-01-31,330,363.0,2022-02-18,1,330.0,363.0,0.0,0.0,21,1,330,0.0,NaN,NaN,NaN,NaN,NaN
1,000401-01-002,2022-01-31,330,363.0,2022-02-18,1,3234.0,3267.0,0.0,2904.0,23,1,330,0.0,NaN,NaN,NaN,NaN,NaN
2,000401-01-003,2022-01-31,330,363.0,2022-02-18,1,330.0,363.0,0.0,0.0,25,1,330,330.0,NaN,611.0,24.0,43.0,NaN
3,000401-01-004,2022-01-31,330,363.0,2022-02-18,1,330.0,363.0,0.0,0.0,26,1,330,330.0,NaN,607.0,17.0,17.0,NaN
4,000401-01-005,2022-01-31,330,363.0,2022-02-18,1,330.0,363.0,0.0,0.0,27,1,330,330.0,NaN,607.0,17.0,18.0,NaN

In [16]:
import os
from openpyxl.utils.dataframe import dataframe_to_rows

file = r"new_ledger.xlsx"

# create excel file
if os.path.isfile(file):  # if file already exists append to existing file
    workbook = openpyxl.load_workbook(file)  # load workbook if already exists
    sheet = workbook['Ledger Template']  # declare the active sheet 

    # append the dataframe results to the current excel file
    for row in dataframe_to_rows(df, header = False, index = False):
        sheet.append(row)
    workbook.save(file)  # save workbook
    workbook.close()  # close workbook
    
    
# else:  # create the excel file if doesn't already exist
#     with pd.ExcelWriter(path = file, engine = 'openpyxl') as writer:
#         df.to_excel(writer, index = False, sheet_name = 'Ledger Template')